body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px;
    background-color:green
}
h1{
    color: black;
    margin-bottom: 30px;
}
.product-box{
    background-color: whitesmoke;
    width: 300px;
    margin: 0 auto;
    padding:15px;
    border: 3px solid black;
    border-radius:40px;
}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-box h2{
    color: black;
    font-size:20px;
    margin-top:0px;
}
.product-description{
    color: black;
    font-size: 10px;
    margin-top: 5px;

}
.price {
  font-size: 20px;
  color: green;
  font-weight: bold;
  margin-bottom: 14px;
}
button {
  background-color: #0f8efe;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 15px;
  border-radius: 114px;
  cursor: pointer;
}

button:hover {
  background-color: #022d5c;
}
 
 