.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #93eecf;

}

.wrapper>div {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #eecf93;
    color: #ff0000;
}