body {
  font-family: Arial, sans-serif;
  margin: 20px;
  border: black;
}

.box {
  width: 100px;
  height: 100px;
  color: white;
  border:black;
  text-align: center;
  line-height: 100px;
  margin-right: 10px;
  float: left;
  font-weight: bold;
}
.box1 {
  background-color: #e74c3c; 
}

.box2 {
  background-color: #3498db; 
}

.box3 {
  background-color: #008000; 
}
