body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230615/pngtree-landscape-landscape-photo-image_2902263.jpg");
    background-size: cover;

}

h1 {
    color: #f3f2f7;
    margin-bottom: 30px;
}

.product-box {
    background-color: gray;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 40px;
}

.product-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-box h2 {
    background-color: tomato;
    color: black;
    font-size: 30px;
    margin-top: 10px;
}

.description {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.price {
    color: #00ff11;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: #0479de;
    color: white;
    border: none;
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 114px;
    cursor: pointer;
}

button:hover {
    background-color: #012346;
}