body{
    font-family: Arial, sans-serif;
    margin: 20px;
}
.block-menu{
    display: block;
    background-color: #3498db;
    color: azure;
    padding:10px;
    margin: 5px 0;
    text-decoration: none;

}.inline-menu{
    display: block;
    background-color: green;
    color: azure;
    padding:10px;
    margin: 5px 0;
    text-decoration: none;
}
.inline-block-menu{
    display: block;
    background-color: violet;
    color: azure;
    padding:10px;
    margin: 5px 0;
    text-decoration: none;
}
.float-menu{
    float: left;
    background-color: orange;
    color: antiquewhite;
    margin :5px ;
    text-decoration: none;
}
.clear{
    clear: both;
}