body {
    font-family: 'Georgia', serif;
    margin: 0;
}

.outer-box {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    border: 2px solid #00ff6a;
    padding: 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(8, 3, 163, 0.5);
    border-radius: 10px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    background-color: #1b60bf;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}