body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px
}
.block-menu{
    display: block;
    background-color: #3498db;
    color: azure;
    padding: 15px;
    margin: 5px 0;
    text-decoration: none;

}.inline-menu{
    display: block;
    background-color: #128c12;
    color: white;
    padding:10px;
    margin: 5px 0;
    text-decoration: none;
}
.inline-block-menu{
    display: block;
    background-color: #9400d3;
    color: azure;
    padding:10px;
    margin: 5px 0;
    text-decoration: none;
}
.float-menu{
    float: left;
    background-color: #f6bf58;
    color: antiquewhite;
    padding: 10px;
    margin :5px ;
    text-decoration: none;
}
.clear{
    clear: both;
}

